body {
  color: #ffffff;
  background-color: black;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 10px;
}

#lista_imagens_feminino,
#lista_imagens_masculino {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.jogador {
  text-align: center;
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .jogador {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .jogador {
    width: 100%;
  }
}
